*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    
}

.grid1 {
    background-color: rgba(18, 226, 226, 0.671);
}
.grid2{
    background-color: rgba(235, 71, 71, 0.918);
}
.grid3{
    background-color: rgba(82, 82, 236, 0.795);
}
.grid4{
    background-color: rgba(23, 110, 81, 0.808);
}
.grid5{
    background-color: rgba(224, 171, 167, 0.849);
}
.grid6{
    background-color: blueviolet;
}
.grid7{
    background-color: palevioletred;
}
.parent{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-row:;
}   